.github-ribbon{
    position: absolute;
    height: 149px;
    width: 149px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;

    a {
        display: block;
        position: relative;
        word-spacing: 2px;
        padding: 5px 15px 5px 25px;
        width: 190px;
        left: 36px;
        top: -26px;
        text-align: center;
        font-size: 14px;
        font-family: sans-serif;
        background-color: $darkblue-color;
        color: #fff;
        text-decoration: none;
        transform-origin: 0 0;
        transform: rotate(45deg);
        box-shadow: 1px 1px 5px 1px #666;
        background-image: linear-gradient(bottom, $darkblue-color 3%, $gray-color 5%, $darkblue-color 7%, $darkblue-color 93%, $gray-color 95%, $darkblue-color 97%);
    }
}

