.github-ribbon{
    position: absolute;
    height: 149px;
    width: 149px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;

    a {
        display:block;
        position:relative;
        word-spacing:2px;
        padding:5px 15px 5px 25px;
        width:190px;
        left:20px;
        top:-37px;
        text-align:center;
        font-size:14px;
        font-family:sans-serif;
        background-color:#333;
        color:#fff;
        text-decoration:none;
        transform-origin:0 0;
        transform:rotate(45deg);
        box-shadow: 1px 1px 5px 1px #666;
        background-image:linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    }
}

