.flex-parent {
    height: 100vh;
    display: flex;
    flex-direction: column;

    div {
        flex-shrink: 0;
    }

    div.flex-item-grow {
        flex: 1 0 auto;
    }
}

.head-line {
    height: 50px;
}

.fbg-white {
    padding: 50px 0;
    background: #fff;
}

.fb-white-post {
    padding: 0 0 50px 0;
    background: #fff;
}

.fbg-banner {
	padding: 20px 0;
    margin: 0;
	background: #efefef url(/img/carbon.svg);
    min-height: 170px;

    img {
        height: 170px;
        background-color: rgba(255, 255, 255, 0.0);
        transition: background-color 0.6s;
    }
}

.fbg-darkblue {
    color: #fff;
    background: #1c1f2a;
}

.fbg-lightblue {
    color: #fff;
    background: #43444e;
}

.fbg-grayblue {
    padding: 50px 0;
    color: #ccc;
    background: #43444e;
}

.fbg-darkgrayblue {
    color: #ccc;
    background: #373841;
}

.section-shadow {
	box-shadow: inset 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
}

.section-sep {
	display: block;
	min-height: 10px;
	width: 100%;
	color: #fff;
}

article {
    margin-bottom: 50px;
}

footer {
	display: block;
	background: url(/img/pattern.svg);
	padding: 50px 20px;
}

