body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
	font-size: 52px;
	font-weight: 300;
}


h2 {
	font-size: 30px;
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
}


h3 {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 25px;
	font-weight: 300;
}


h4 {
	font-size: 21px;
	line-height: 30px;
	font-weight: 300;
}


h5 {
	font-weight: 600;
	font-size: 16px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.3em;
}


h1 {
    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: none;
        color: inherit;
    }
}


p {
    padding-top: 20px;
    font-size: 16px;
}

