// blumenplace own variables
$darkblue-color: #373841;
$gray-color: #efefef;

// bootstrap variables
//  scafolding
$font-family-base: ;
$font-size-base: 14px;
$line-height-base: ;
$text-color: #000;
$body-bg: #fff;
$link-hover-color: ;
$border-radius-large: ;

$thumbnail-padding: ;
$line-height-base: ;
$thumbnail-bg: ;
$thumbnail-border: ;
$thumbnail-border-radius: ;

// hr
$line-height-computed: ;
$line-height-computed: ;
$hr-border: ;

