@charset "UTF-8";

@import "_variables";
@import "_github-ribbon";
@import "_sections";
@import "_type";


@import "gridle/_gridle";


$settings: (
    context : 12,
    gutter-width: 0px,
    direction: ltr
);

@include gridle_setup($settings);

*, :after, :before {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #fff;
}

div.container {
    @include gridle_container();

    width: 100%;
    height: 100vh;

    margin: 0 auto;

    padding: 0;
    border: 0;

    display: flex;
    flex-direction: column;

    > * {
        flex-shrink: 0;
        width: 100%;
        border: 0;
    }

    header, footer, section, div {
        flex-grow: 0;
    }

    header {
        @include gridle(12);
        @include gridle_parent();
        @include gridle_clear_each(2, left);

        div {
            @include gridle_push(1);
            @include gridle(5);

            h1 {
                margin-bottom: 0;
            }

            em {
                font-weight: 700;
                line-height: 1.3em;
                font-size: 24px;
                font-style: normal;
            }
        }

        nav {
            @include gridle_push(1);
            @include gridle(5);

            padding-top: 60px;
            text-align: center;

            a {
                padding: 0 5px;
                font-size: 1.4em;
                color: #43444e;
                text-decoration: none;

                &:hover {
                    color: #eb6851;
                }
            }
        }
    }

    section.fbg-banner {
        @include gridle(12);
        @include gridle_parent();

        height: 210px;

        > div {
            @include gridle(9);
            @include gridle_parent();
            @include gridle_centered();

            > div {
                @include gridle(3);

                text-align: center;
                padding: 0px;

                > a {
                    display: block;
                    height: 187px;
                }

                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }

    main {
        @include gridle(10);
        @include gridle_centered();
        @include gridle_parent();

        flex-grow: 1;

        section {
            @include gridle(3);

            h1 {
                text-align:center;
            }
        }

        section:first-child {
            @include gridle_prefix(1);
            @include gridle_suffix(2);
        }

        section:last-child {
            @include gridle_prefix(1);
            @include gridle_suffix(1);
        }

        article {
            @include gridle(9);

            margin: 0;
            padding-bottom: 1em;

            h1 {
                padding: 0;
                margin: 0;
            }

            .post-date {
                color: #555;
                padding: 0.9em 0 0 0;
            }

            .read-more {
                display: block;
                padding: 1.4em 0 2em 0;
                border-bottom: 1px dotted #555;
                width: 90%;
            }
        }

        ul {
            list-style-type: none;
        }
    }

    footer {
        @include gridle(12);

    	display: block;
        background: url(/img/pattern.svg);
        padding: 30px 20px 50px 20px;
    }
}

