
ul.menu {
    margin-top: 35px;
    li {
        padding: 10px;
        display: inline-block;
        a {
            font-size: 1.4em;
            color: #43444e;
            text-decoration: none !important;
        }
        a:hover {
            color: #eb6851;
        }
    }
}

