<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    <div class="github-ribbon"><a href="https://github.com/zolkko/blumenplace">fork me on github</a></div>
    <div class="container">
    {{> header subtitle="A set of tools to create automatic <em>energy efficient plant watering system</em>" }}
    <section class="fbg-banner">
        <div>
            <div>
                <a href="http://en.wikipedia.org/wiki/Open-source_hardware"><img alt="open hardware" src="http://upload.wikimedia.org/wikipedia/commons/f/fd/Open-source-hardware-logo.svg"></a>
            </div>
            <div>
                <a href="http://en.wikipedia.org/wiki/Open-source_hardware"><img alt="open hardware" src="http://upload.wikimedia.org/wikipedia/commons/f/fd/Open-source-hardware-logo.svg"></a>
            </div>
            <div>
                <a href="http://en.wikipedia.org/wiki/Open-source_hardware"><img alt="open hardware" src="http://upload.wikimedia.org/wikipedia/commons/f/fd/Open-source-hardware-logo.svg"></a>
            </div>
            <div>
                <a href="http://en.wikipedia.org/wiki/Open-source_hardware"><img alt="open hardware" src="http://upload.wikimedia.org/wikipedia/commons/f/fd/Open-source-hardware-logo.svg"></a>
            </div>
        </div>
    </section>
    <main>
        <section>
            {{{ contents }}}
        </section>
        <section>
            <h1>Road Map</h1>
            <p></p>
        </section>
    </main>
    {{> footer }}
    </div>
</body>
</html>
