<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head }}
        {{> syntax-header }}
    </head>
	<body class="flex-parent">
        {{> head-line }}
        {{> header subtitle="technical docs"}}
		<div class="container-fluid fbg-white-post content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h1>{{ title }}</h1>
                        <span class="post-date">{{ formatDate date }}</span>
                        <article>{{{ contents }}}</article>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            {{#each collections.posts}}
                            <li><a href="/{{ this.path }}">{{ this.title }}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{> foot-line }}
	</body>
</html>
