<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <meta property="og:site_name" content="blumenplace">
    <meta property="og:title" content="{{ title }}">
    {{#if description }}<meta property="og:description" content="">{{/if}}
    <meta property="og:type" content="article">
</head>
<body>
    <div class="github-ribbon"><a href="https://github.com/zolkko/blumenplace">fork me on github</a></div>
    <div class="container">
    {{> header subtitle="technical docs"}}
    <main>
        <article>
            <h1>{{title}}</h1>
            <div class="post-date">{{ formatDate this.date }}</div>
            {{{ contents }}}
            <!--
            <div class="fb-share-button" data-href="{{ this.path }}" data-layout="button_count"></div>
            -->
        </article>
        <div id="disqus_thread"></div>
    </main>

    {{> disq }}

    {{> footer }}
    </div>
</body>
</html>
